.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-width: 370px;
    max-width: 700px;
    padding: 20px;
    border: 2px solid rgba(98,62,107,1);
    border-radius: 20px;
    background-color: rgb(186, 149, 255);
    box-shadow: 0px 0px 20px 5px rgba(98,62,107,1);
    background: linear-gradient(315deg, rgb(101, 0, 50) 3%, rgb(135, 60, 206) 50%, rgb(255, 82, 82) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.login_logo {
    width: 100%;

    margin: 0 auto;
}

.login_logo > img {
    width: 100%;
}

.form_container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 60%;
    min-width: 270px;
    height: 100%;
    border: 2px solid rgb(159, 108, 255);
    border-radius: 15px;
    background-color: rgba(174, 130, 255, 0.712);
    backdrop-filter: blur(20px);
    margin: 0 auto 30px;
    padding: 30px;
}

.form_container > h2 {
    font-family: 'Manrope';
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 64px;
    color: #181E4B;
}

.form_container > h2 > span {
    color: #6B5CFF;
    font-size: 38px;
}

.form_fields {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    color: #181E4B;
    font-size: 17px;
}

.input-email,
.input-password,
.input-username {
    font-family: 'Quicksand';
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    width: 100%;
}

.button-send {
    font-family: 'Quicksand';
    font-size: 17px;
    padding: 12px 25px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out all;
}

.button-send:hover {
    background-color: #45a049;
}