@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Martian+Mono:wght@100..800&family=Rubik+Scribble&family=Truculenta:opsz,wght@12..72,100..900&family=Workbench&display=swap');

.newPage{
    position: relative;
    width: 100%;
    height: 100%;
    transition: clip-path 1s ease-in-out;
    clip-path: circle(0% at center);

}

.imageBackground, .imageBackground img{
    width: 100%;
    height: 100%;

}

.emptyDiv{
    position: absolute;
    background-color: rgba(22, 22, 22,0.5);

    
}

.fontTitles{
    text-transform: uppercase;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
    color: rgb(106, 198, 196);

    
}

.title{
    text-align: center;
    text-transform: uppercase;
    border: 2px inset rgb(106, 198, 196);
    border-radius: 5vw;
    position: relative;
    top: 5%;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.imageBackground{
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    background-repeat: repeat;
}

.mainContainerIcons{
    display: flex;
    height: 90%;
}

.contModules {
    align-self: center;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 70%;
 
   
}

.contIconLanguage{
    align-self: end;
    width: 30%;
}

.iconMod:hover{
    width: 10vw;
    height: 10vh;

}

.contIconModules{
    height: 15vh;
    width: 15vw;
    animation: floatAround 10s infinite ease-in-out;;

}
.mainIcon{
    width: 25vw;
    animation: rotate 5s infinite;

}

@keyframes rotate {
    from{transform: rotate3d(0,1,0,0deg);}
    to{transform: rotate3d(0,1,0,360deg);}

}

.iconMod {
    width: 8vw;
    height: 8vh;
    border-radius: 50%;
    animation: changeShadow 10s infinite ease-in-out;
    cursor: pointer;
    /* animation-delay: 0s, 0s;  */
}

.iconMod1 {
    animation-delay: 0s, 0s;
}

.iconMod2 {
    animation-delay: 1s, 1s;
}

.iconMod3 {
    animation-delay: 2s, 2s;
}

.iconMod4 {
    animation-delay: 3s, 3s;
}

.iconMod5 {
    animation-delay: 4s, 4s;
}


@keyframes changeShadow {
    0% {
        box-shadow: 
            10px 10px 10px 10px bisque;
    }
    20% {
        box-shadow: 
            10px 10px 10px 10px rgb(68, 125, 153);
    }
    40% {
        box-shadow: 
            10px 10px 10px 10px rgb(162, 49, 187);
    }
    60% {
        box-shadow: 
            10px 10px 10px 10px rgb(205, 220, 104);
    }
    80% {
        box-shadow: 
            10px 10px 10px 10px rgb(176, 138, 213);
    }
    100% {
        box-shadow: 
            10px 10px 10px 10px rgb(67, 18, 225);
    }
}

@keyframes floatAround {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, -30px);
    }
    40% {
        transform: translate(-30px, 0);
    }
    60% {
        transform: translate(0, 30px);
    }
    80% {
        transform: translate(30px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.tooltip {
    position: absolute;
    background-color: rgba(56, 212, 207, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    white-space: nowrap;
    font-size: 2vw;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-content h2 {
    color: #000;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    color: #000;
}

.modal-content input, .modal-content textarea {
    width: calc(50% - 10px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content textarea {
    width: calc(100% - 22px);
    height: 100px;
    resize: none;
}

.modal-content .full-width {
    width: calc(100% - 22px);
}

.formModal {
    display: flex;
    flex-direction: column;
}

.modal-content > form > button {
    background-color: #252547;
    color: #fff;
    width: auto;
    align-self: center; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el botón */
.add_module_btn {
    position: absolute;
    top: 10px;
    right: 20px;
    width: auto;
    background-color: #252547;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    z-index: 1;
}

.add_module_btn:hover {
    background-color: #3b3b78;
}
