.newPage{
    position: relative;
    width: 100%;
    height: 100%;
    transition: clip-path 1s ease-in-out;
    clip-path: circle(0% at center);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.usernames{

    color: antiquewhite;

}

.emptyDiv,.imageBackground, .imageBackground img{
    width: 100%;
    height: 100%;

}

.emptyDiv{
    position: absolute;
    background-color: rgba(22, 22, 22,0.7);

    
}

.imageBackground{
    z-index: -1;
    position: absolute;
}

.contModules{
    border: 2px dashed rgb(50, 153, 151);
    width: 70%;
    border-radius: 50%;
    position: relative;
    top: 30%;
    display: flex;

}

.contIconModules{
    height: 15vh;
    width: 10vw;
    border-radius: 50%;
    position: relative;
   
}

.contIconModules:hover{
    width: 15vw;
}

.iconMod{
    width: 5vw;
    height: 5vh;
}


.iconJs{
    position: absolute;
    top: 10%;
    left: 22%;
    width: 30em;
    animation: rotate 5s infinite;

}

@keyframes rotate {
    from{transform: rotate3d(0,1,0,0deg);}
    to{transform: rotate3d(0,1,0,360deg);}

}


.mod1{
    top: 50%;
    right: 5%;
}

.mod2{
    top: 20%;
    right: 13%;
}

.mod3{
    top: 1%;
    right: 10%;
}

.mod4{
    bottom: 8%;
    left: -2%;
}

.mod5{
    bottom: 8%;
    left: 5%;
}

.mod6{
    top: 20%;
    left: 28%;
}

.mod8{
    top: 50%;
    left: 5%;
}


/* .boton{
    width: 15vw;
    height: 15vh;
    background-color: blue;
    position: absolute;
    top: 0%;
    right: 0%;
} */