@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Martian+Mono:wght@100..800&family=Rubik+Scribble&family=Truculenta:opsz,wght@12..72,100..900&family=Workbench&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    padding: 0;
    position: relative;
    transition: clip-path 1s ease-in-out;
    clip-path: circle(0% at center);


}

.fontTitles{
    text-transform: uppercase;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
    color: rgb(106, 198, 196);

    
}


.title{
    text-align: center;
    text-transform: uppercase;
    border: 2px inset rgb(106, 198, 196);
    border-radius: 20px;
    position: relative;
    padding: 2%;
    margin: 100px auto 0;
    text-align: center;
    width: 70%;
}



.containerEditor{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: -1;
}

.containerEditor img{
    width: 100%;
    height: 100%;
}



.contIcons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 40px;
}

.contIcons figure {
    width: 200px;
}

.contIcons figure img{
    width: 100%;
}

.contIcons img.remoteControl{
    object-fit: fill;
}

.iconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation: miAnimacion 5s infinite linear;
    margin: 0 auto;
    /* border: 2px solid blanchedalmond; */

}

.pLanguage{
    font-size: 30px;
}

.icono {
    transition: all ease-in-out .4s;
}

.icono:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 5px rgba(255, 228, 196, 0.486);
    border-radius: 50%;
}


@keyframes miAnimacion {
    0% { transform: translateY(0); opacity: 1;} /* Comienza en el centro */
    25% {transform: translateY(-5%); opacity: 1;} /* Sube */
    50% { transform: translateY(0); opacity: 1;} /* Regresa al centro */
    75% {transform: translateY(5%); opacity: 1;} /* Baja */
    100% { transform: translateY(0); opacity: 1;} /* Regresa al centro */
}

@keyframes rotate {
    from{transform: rotate3d(1,0,0,0deg);}
    to{transform: rotate3d(1,0,0,360deg);}
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-content h2 {
    color: #000;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    color: #000;
}

.modal-content input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnContainer button {
    background-color: #252547;
    color: #fff;
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el boton de abrir el modal */
.add_language_btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #252547;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    z-index: 1;
}

.add_language_btn:hover {
    background-color: #3b3b78;
}