:root {
    --inner-radius: 16px;
    --padding: 15px;
    --outer-radius: calc(var(--inner-radius) + var(--padding));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #160528;
    color: #dd7d5b;
    padding: 20px;
    width: 100%;
    height: 99%;
    margin: 0 auto;
}

h2, h3 {
    color: #53afde;
}

button-container {
    display: inline-block;
}

.iframe-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #381b77;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #7748cd;
}

.textareas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

textarea {
    width: 48%;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #7748cd;
    border-radius: 4px;
    background-color: #160528;
    color: #dd7d5b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    resize: vertical;
}

iframe {
    max-width: 100%;
    height: 300px;
    border: 1px solid #381b77;
    margin-top: 10px;
    border-radius: 4px;
}
