:body {
    --inner-radius: 16px;
    --padding: 15px;
    --outer-radius: calc(var(--inner-radius) + var(--padding));
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #160528;
    flex: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: #381b77;
    padding: 10px;
    border-radius: var(--outer-radius);
}

.left-colum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto;
    width: 30%;
    height: 80%;
    background-color: #7748cd;
    color: white;
    border-radius: var(--outer-radius);
}

.left-colum-picture{
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: var(--outer-radius);
    transition: 0.2s;
    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.left-colum-picture:hover{
    transform: scale(1.05);
}

.left-colum-info{
    width: 100%;
    height: 40%;
    color: white;
    padding: 10px;
}

.center-colum {
    background-color: #16052800;
    width: 30%;
    height: 70%;
    color: white;
    margin: auto 0;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: var(--outer-radius);

    .center-colum-hello{
        width: 100%;
        height: 50%;
        h2{
            font-size: 1.3rem;
        }
    }

    .center-colum-info{
        width: 100%;
        height: 50%;
        background-color: #7748cd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--outer-radius);
        padding: 10px;
    }
}

.right-colum {
    width: 30%;
    height: 80%;
    margin: auto 0;
    background-color: #dd7d5b;
    border-radius: var(--outer-radius);
}

.right-colum-icon {
    padding: 15px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #381b77;
    margin: auto;
    margin-top: 10px;
    transition: 0.2s;
}

.right-colum-icon:hover {
    scale: 1.1;
}

.info-points{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    height: 50%;
    color: white;
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
}

.left-colum-info, .info-points {
    text-align: center;
}

.left-colum-info h2, .info-points h2 {
    margin-bottom: 10px;
}

.left-colum-info h3 {
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    .content {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
    }
    
    .left-colum, .center-colum, .right-colum {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }
    
    .left-colum-picture {
        height: auto;
    }
    
    .center-colum-info, .center-colum-hello {
        height: auto;
    }
    
    .right-colum-icon {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
    
    .info-points {
        height: auto;
        padding: 10px;
    }
}