aside.sidebar-menu {
    position: relative;
    font-family: 'Quicksand';
    background-color: rgba(14, 24, 42, 1);
    box-shadow: 0 0 3px rgba(210, 150, 150, 0.1);
    width: 200px;
    height: 100%;
    transition: all ease-in-out .4s;
}

aside.sidebar-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding-top: 100px;
    background:
}

.sidebarOptions {
    list-style: none;
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px 20px 20px;
}

aside.sidebar-menu > ul > .sidebarOptions > button {
    color: aliceblue;
    font-size: 1.2rem;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.active,
aside.sidebar-menu > ul > .sidebarOptions:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebarIcons {
    color: white;
    font-size: 20px;
}

.backButton {
    color: white;
    font-size: 30px;
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    margin: 30px 0;
}

.backButton > i {
    cursor: pointer;
    transition: all ease-in-out .4s;
    transform: rotate(1.5turn);
}

.backButton > img {
    width: 60px;
    border-radius: 50px;
}

.backButtonTwo {
    display: none;
}

@media (max-width: 950px) {

    .backButtonTwo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backButtonOne {
        display: none;
    }

    aside.sidebar-menu {
        width: 250px;
        left: 0;
    }
}

@media (max-width: 475px) {
    aside.sidebar-menu {
        width: 100%;
    }
}