aside.sidebar-menu {
    background-color: rgba(14, 24, 42, 0.8);
    box-shadow: 0 0 3px rgba(210, 150, 150, 0.1);
    height: 100%;
    width: 100%;
}

.menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu {
        display: block;
    }

    .containerUl {
        display: none;
    }
}

/* Agrega la clase 'open' para mostrar el menú */
aside.sidebar-menu.open {
    left: 0;
}

/* Agrega la clase 'open' para mostrar el contenido del menú */
.containerUl.open {
display: block;
}

/* Añade un fondo de desenfoque al contenido principal cuando se muestra el menú */
.main-content.blur {
filter: blur(5px);
}


.containerUl > ul  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--spacing-2);
    height: 100%;
    gap: var(--spacing-1);
    padding-top: 50px;
}

.containerUl > ul > li {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    transition: var(--transition);
}

.containerUl > ul > li > img {
    width: 5vw;
    height: 3vh;
    margin-right: var(--spacing-1);
}

.containerUl > ul > li > button {
    color: aliceblue;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.active,
.containerUl > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}