.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0;
    z-index: 2;
}

.mainContent {
    display: flex;
}

.mainElement {
    flex-basis: 1;
}

.main {
    padding-left: 65px;
    padding-top: 100px;
    width: 100%;
}

.sidebar {
    position: fixed;
    z-index: 1;
    left: -135px;
    height: 100%;
    transition: all ease-in-out .4s;
}

@media (max-width: 950px) {
    .sidebar {
        left: -250px;
    }

    .main {
        padding-left: 0;
    }
}

@media (max-width: 475px) {
    .sidebar {
        left: -100%;
        width: 100%;
    }
}